* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(226, 130, 40);
}
.img-container {
  background-color: rgb(213, 231, 49);
  border: 2px solid black;
  border-radius: 12px;
  width: 60%;
  min-height: 60vh;
  background: url("/img/_ (1).jpg") center/cover fixed no-repeat ;
  position: relative;
  margin: 4rem auto;
  box-shadow: 10px 10px 35px rgb(226, 230, 15);
  
  
}
